<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <style>
    .bar {
      fill: steelblue;
    }
    .bar:hover {
      fill: brown;
    }
    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }
    h3 {
      font-size : 200%;
      color:green;
      text-align: center;
    }
    .xaxis text {
      color:blue;
    }
    .yaxis text {
      color:blue;
    }
    /*.xaxis path {
      display: none;
    }*/
    </style>

    <div id = "svgcontainer">
          <h3>Colombians registered abroad</h3>
          <button style="padding: 10px 20px; text-align: center;font-size: 16px;margin: 4px 2px;">Switch dataset</button>
          <br/>
          <p style="color:#789410;font-size:160%">Dataset</p>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

      // Const margin data for viz
      const width = 900;
      const height = 500;
      const margin = {top: 5, right: 70, bottom: 50, left: 50};
      const iwidth = width - margin.left -margin.right;
      const iheight = height - margin.top - margin.bottom;

      // Const bar chart
      const barwidth = 26;

      // SVG and g elements
      var svg = d3.select("#svgcontainer")
          .append("svg")
          .attr("width", iwidth + margin.left + margin.right)
          .attr("height", iheight + margin.top + margin.bottom);
      var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //Tooltip var
      var tooltip = d3.select("body").append("div").attr("class", "toolTip");

      //Dataset current index
      var dataIndex=1;

      var datasetsTitles = ["Total of people", "Average age", "Male percent", "Female percent", "No gender registered percent", "PhD level of study percent", "Primary level of study percent", "Children percent", "Adults percent", "Elderly people percent"];
      var maxIndex = datasetsTitles.length;

      // Original ata var
      var dataOrigin;

      // Dataset 1
      var dataCountryList1;

      // Dataset 2
      var dataCountryList2;

      // Dataset 3
      var dataCountryList3;

      // Dataset 4
      var dataCountryList4;

      // Dataset 5
      var dataCountryList5;

      // Dataset 6
      var dataCountryList6;

      // Dataset 7
      var dataCountryList7;

      // Dataset 8
      var dataCountryList8;

      // Dataset 9
      var dataCountryList9;

      // Dataset 10
      var dataCountryList10;

      //Var for axis x and y
      var xDomain; 
      var yDomain
      var xaxis; 
      var yaxis; 
      var x;
      var y;

      // Load csv with promise
      d3.csv('https://raw.githubusercontent.com/pierreraimbaud/ColombiansAbroadViz/master/Colombianos_registrados_en_el_exterior.csv').then(function(data) {
          dataOrigin = data;
          //Create bar chart
          createBar();
      });

      //button to swap over datasets
      d3.select("button").on("click",function(){
          updateBar();
      });//end click function

      //Create bar chart
      function createBar(){

        //var colors = ["b33040", "#d25c4d"];

      //Set dataset title
        d3.select("p").text("Dataset "+dataIndex + ": by country - " + datasetsTitles[dataIndex-1]);

        //Data preparation (2 datasets)
        prepareDatasets();        

        //Create Axis
        addAxisForBarChar();

        //Create Bar chart (rect)
        addBarCharRects();
                
      }

      //Add the axis for bar chart
      function addAxisForBarChar(){

        // X scale definition
        x = d3.scaleBand().rangeRound([0, iwidth])
          .paddingInner(1)
          .paddingOuter(1);
        x.domain((eval("dataCountryList"+dataIndex)).map(function(d){
         return d.value.isoCode;}));

        // Y scale definition
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        y.domain([0, d3.max(eval("dataCountryList"+dataIndex), function(d){
            return +d.value.amount})]);

        // Axis x
        xaxis = g.append('g').attr('class', 'xaxis')
            .call(d3.axisBottom(x))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "xaxis");

        // Axis y  
        yaxis = g.append('g').attr('class', 'yaxis')
            .call(d3.axisLeft(y))
            // .append("text")
            // .attr("fill", "#000")
            // .attr("transform", "rotate(-90)")
            // .attr("text-anchor", "end")
            // .text("Number of people")
            // .attr("class", "yaxis");
      }

      //Add the rect (bar chart)
      function addBarCharRects(){
        var rect = g.selectAll(".bar")
          .data(eval("dataCountryList"+dataIndex))
          .enter().append("rect")
          .attr("class", "bar");


        var attrX = rect.attr("x", function (d) {
              return x(d.value.isoCode)-barwidth/2;
            })

        var attrY = rect.attr("y", function (d) {
              return y(d.value.amount);
            });

        rect.attr("width", barwidth)
            .attr("height", function (d) {
              return height - y(d.value.amount)-(margin.top+margin.bottom);
            });

        rect.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(d.key + ": " +(d.value.amount));
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");});   
      }
      //Prepare datasets for bar chart
      function prepareDatasets(){

        //Nest data for getting it as (key=country, isoCode=ISO, amount=total of people, value=other data)
        var dataCountry = d3.nest()
          .key(function(d){
            return d.Country;
          })
          .rollup(function(d){
            return {
              amount : d3.sum(d, function(g){
                return g.Quantity;
            }),
            isoCode : d[0].ISOCode,
            detailByLine : d
            }
          })
          .entries(dataOrigin);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataCountryAge = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return d3.sum(g.value.detailByLine, function(k){
                    return k.Age;})/kk;
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataMalePercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.Gender=="MASCULINO")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);
        
        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataFemalePercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.Gender=="FEMENINO")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataNoGenderPercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.Gender=="DESCONOCIDO")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataPHDpercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.AcademicLevel=="DESCONOCIDO")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataPrimarypercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.AcademicLevel=="PRIMARIA")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataChildpercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.AgeGroup=="INFANTE"||k.AgeGroup=="PRIMERA INFANCIA"||k.AgeGroup=="ADOLESCENTE")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

          //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataAdultpercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.AgeGroup=="ADULTO"||k.AgeGroup=="ADULTO JOVEN")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);

          //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataAncientpercent = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return Math.trunc(d3.sum(g.value.detailByLine, function(k){
                    if (k.AgeGroup=="ADULTO MAYOR")
                      return k.Quantity;
                    else return 0;
                })/kk*100);
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);
        //Filter data for getting only raws with more than 1000 persons
        dataCountryList1 = dataCountry.filter(function (d){
                                  return (d.value.amount/1000)>1;
                                });

        dataCountryList1.sort(function(x, y){
           return d3.descending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList2 =  dataCountryAge.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList2.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList3 =  dataMalePercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList3.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList4 =  dataFemalePercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList4.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList5 =  dataNoGenderPercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList5.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList6 =  dataPHDpercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList6.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList7 =  dataPrimarypercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList7.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList8 =  dataChildpercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList8.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList9 =  dataAdultpercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList9.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });
                

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList10 =  dataAncientpercent.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        dataCountryList10.sort(function(x, y){
           return d3.ascending(x.value.amount, y.value.amount);
        });
      }

      //Update datasets for bar chart
      function updateBar(){

          //select new data
          if (dataIndex==maxIndex) {
            dataIndex=1;  
          }
          else{
            dataIndex++;
          }

          //Update x and y axis

          //1 - rejoin data
          xaxis = g.selectAll(".xaxis");
          
          xaxis.exit().remove();//remove unneeded axis

            var yaxis = g.selectAll(".yaxis");
          
          xaxis.exit().remove();//remove unneeded axis

          xaxis.enter().append("xaxis")
            .attr("class", "xaxis");

           yaxis.enter().append("yaxis")
            .attr("class", "yaxis");

          // X scale definition
          x = d3.scaleBand().rangeRound([0, iwidth])
           .paddingInner(1)
           .paddingOuter(1);
          xDomain = (eval("dataCountryList"+dataIndex)).map(function(d){return d.value.isoCode; });
          x.domain(xDomain);

          // Y scale definition
          y = d3.scaleLinear().rangeRound([iheight, 0]);
          yDomain = [0, d3.max(eval("dataCountryList"+dataIndex), function(d){return +d.value.amount})];
          y.domain(yDomain);
         
          // Axis x
          xaxis =g.selectAll(".xaxis").data(xDomain);
          xaxis.exit().remove();//remove unneeded rects
          xaxis.enter().append("g");

          xaxis.attr('class', 'xaxis').call(d3.axisBottom(x));
          xaxis.attr("transform", `translate(0,${iheight})`)

          // Axis y  
          yaxis =g.selectAll(".yaxis").data(yDomain);
          yaxis.exit().remove();//remove unneeded rects
          yaxis.enter().append("g");

          yaxis.attr('class', 'yaxis').call(d3.axisLeft(y));
          // yaxis.append("text")
          //           .attr("fill", "#548")
          //           .attr("transform", "rotate(-90)")
          //           .attr("text-anchor", "end")
          //           .text("Average age");

          //Update bar part(rect)

          //1 - rejoin data
          var rectss = g.selectAll(".bar")
              .data(eval("dataCountryList"+dataIndex));
          
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded rects
         
          //3 - Update bar (rect)
          rectss.enter().append("rect")
            .attr("class", "bar");


          rectss.attr("x", function (d) {            
              return x(d.value.isoCode)-barwidth/2;
            })

          rectss.attr("y", function (d) {            
              return y(d.value.amount);
            });

          rectss.attr("width", barwidth)
            .attr("height", function (d) {
              return height - y(d.value.amount)-(margin.top+margin.bottom);
            });//create any new rects needed

          //Change text  
          d3.select("p").text("Dataset "+dataIndex + ": by country - " + datasetsTitles[dataIndex-1]);
      }
    </script>

    <div class="wrapper">
      <header>
        <h1><a href="">auto-link</a></h1>
        <p></p>
        <p class="view"><a href="https://github.com/pierreraimbaud/ColombiansAbroadViz">Project URL on GitHub <small>pierreraimbaud/ColombiansAbroadViz</small></a></p>
      </header>
      <section>MD zone</section>
      <footer>
        
        <p>This project is maintained by <a href="https://github.com/pierreraimbaud">pierreraimbaud</a></p>
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src=""></script>
    
  </body>
</html>