<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <style>

    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }

    .axis--x path {
      display: none;
    }

    button  {float:left}

    </style>

    <div id = "svgcontainer">
          <h3>Colombians registered abroad</h3>
          <button>Switch data selection</button>
          <p>Dataset 1</p>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

      // Margin data for viz
      const width = 900;
      const height = 500;
      const margin = {top: 40, right: 70, bottom: 50, left: 50};
      const iwidth = width - margin.left -margin.right;
      const iheight = height - margin.top - margin.bottom;
      var barwidth = 26;

      d3.select('h3').style('color', 'green');
      d3.select('h3').style('font-size', '24px');

  // SVG and g elements
      var svg = d3.select("#svgcontainer")
          .append("svg")
          .attr("width", iwidth + margin.left + margin.right)
          .attr("height", iheight + margin.top + margin.bottom);
      var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dataOrigin;
      var dataCountryList1;
      var dataCountryList2;

      var tooltip ;

var xdom; 
var ydom; 
var xaxis; 
var yaxis; 

      // var promise1 = new Promise(function(resolve, reject) {
      //   d3.csv('https://raw.githubusercontent.com/pierreraimbaud/ColombiansAbroadViz/master/GroupByCountryFile.csv', function(dataOrigin) {
      //     console.log(dataOrigin);
      //      dataCountryList = dataOrigin;
      //      //debugger
      //   });
      // });

      // promise1.then(function(value) {
      //   console.log(value);
      //   debugger
      //   dothejob();
      // // expected output: "Success!"
      // });


      d3.csv('https://raw.githubusercontent.com/pierreraimbaud/ColombiansAbroadViz/master/Colombianos_registrados_en_el_exterior.csv').then(function(data) {
          console.log(data);
          dataOrigin = data;
          dothejob();
      });
     
      var tooltip = d3.select("body").append("div").attr("class", "toolTip");

      function dothejob()
      {
        var dataIndex=1;

        //button to swap over datasets
            d3.select("button")
                .on("click",function(){
                   
                     //select new data
                    if (dataIndex==1) {
                        dataIndex=2;  
                    } else   {
                        dataIndex=1;
                    }


                    //rejoin data
                    var rectss = g.selectAll(".bar")
                        .data(eval("dataCountryList"+dataIndex));
                    
                    rectss.exit().remove();//remove unneeded circles
                   
                    //rejoin data
                    xaxis = g.selectAll(".xaxis");
                    
                    xaxis.exit().remove();//remove unneeded axis

                      var yaxis = g.selectAll(".yaxis");
                    
                    xaxis.exit().remove();//remove unneeded axis

                    xaxis.enter().append("xaxis")
                      .attr("class", "xaxis");

                     yaxis.enter().append("yaxis")
                      .attr("class", "yaxis");

                    rectss.enter().append("rect")
                      .attr("class", "bar");

                     var x = d3.scaleBand()
                      .rangeRound([0, iwidth])
                      .paddingInner(1).paddingOuter(1);
                      //.align(3);
                       // X scale definition      
                     xdom = x.domain((eval("dataCountryList"+dataIndex)).map(function(d) {
                     return d.value.isoCode; }));

                    // Y scale definition
                    var maxxx = d3.max(eval("dataCountryList"+dataIndex), function(d) { 
                        
                        return +d.value.amount}
                        );

                    var y = d3.scaleLinear()
                      .rangeRound([iheight, 0]);
                    ydom = y.domain([0, maxxx]);

//var yTickValues = yaxis.ticks();
//d3.select(".yaxis").call(d3.axisLeft(y).tickValues(yTickValues));

                    var attrX = rectss.attr("x", function (d) {
                      
                        return x(d.value.isoCode)-barwidth/2;
                      })

                    var attrY = rectss.attr("y", function (d) {
                      
                        return y(d.value.amount);
                      });

                    rectss.attr("width", barwidth)
                      .attr("height", function (d) {
                        return height - y(d.value.amount)-(margin.top+margin.bottom);
                      });//create any new circles needed


//var xaxis = g.selectAll('g.xaxis');
  //var yaxis = g.selectAll('g.yaxis');

                        // Axis x
       // xaxis.enter()
  xaxis =g.append('g')
    .attr('class', 'xaxis axis')
            .call(d3.axisBottom(x))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "x.axis");

        // Axis y  
        //yaxis.enter()
  yaxis =g.append('g')
    .attr('class', 'yaxis axis')
            .call(d3.axisLeft(y))
            .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("text-anchor", "end")
            .text("Number of people")
            .attr("class", "y.axis");
                    //update all circles to new positions
                    // rectss.transition()
                    //     .duration(500)
                    //     .attr("cx",function(d,i){
                    //         var spacing = lineLength/(eval("dataArray"+dataIndex).length);
                    //         return xBuffer+(i*spacing)
                    //     })
                    //     .attr("cy",yBuffer)
                    //     .attr("r",function(d,i){return d});

                     d3.select("p").text("Dataset "+dataIndex);

                });//end click function
        var colors = ["b33040", "#d25c4d"];

        console.log(dataOrigin);

        var dataCountry = d3.nest()
        .key(function(d){
          return d.Country;
        })
        .rollup(function(d){
          return {
          amount : d3.sum(d, function(g){
            return g.Quantity;
          }),
          isoCode : d[0].ISOCode,
          detailByLine : d
          }
        })
        .entries(dataOrigin);

        console.log(dataCountry);

        var dataCountryAge = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            //debugger;
            return {
            people : d3.sum(d, function(g){
            return g.value.amount;
            }),
            amount : d3.sum(d, function(g){
              var kk =g.value.amount;
              return d3.sum(g.value.detailByLine, function(k){
                  return k.Age;
              })/kk;
            }),

            isoCode : d[0].value.isoCode,
            detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);
      
        
        console.log(dataCountryAge);

        dataCountryList1 = dataCountry.filter(function (d){
                                  return (d.value.amount/1000)>1;
                                });

        dataCountryList1.sort(function(x, y){
           return d3.descending(x.value.amount, y.value.amount);
        });

        console.log(dataCountryList1);

        dataCountryList2 =  dataCountryAge.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        console.log(dataCountryList2);

        var genderDataList = d3.nest()
        .key(function(d){
          return d.Gender;
        })
        .entries(dataOrigin);

        console.log(genderDataList);


        var x = d3.scaleBand()
          .rangeRound([0, iwidth])
          .paddingInner(1).paddingOuter(1);
          //.align(3);
           // X scale definition      
        xdom = x.domain((eval("dataCountryList"+dataIndex)).map(function(d) {
         return d.value.isoCode; }));

        // Y scale definition
        var maxxx = d3.max(eval("dataCountryList"+dataIndex), function(d) { 
            
            return +d.value.amount}
            );

        var y = d3.scaleLinear()
          .rangeRound([iheight, 0]);
        ydom = y.domain([0, maxxx]);

        // var groups = svg.selectAll("g.gender")
        //   .data(genderDataList)
        //   .enter().append("g")
        //   .attr("class", "gender")
        //   .style("fill", function(d, i) { return colors[i]; });
        
        // var xaxis = g.selectAll('g.xaxis')
        //   //.data(xdom)
        //   .enter();
        // var yaxis = g.selectAll('g.yaxis')
        //   //.data(ydom)
        //   .enter();

       // Axis x
        xaxis = g.append('g').attr('class', 'xaxis')
            .call(d3.axisBottom(x))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "x.axis");

        // Axis y  
        yaxis = g.append('g').attr('class', 'yaxis')
            .call(d3.axisLeft(y))
            .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("text-anchor", "end")
            .text("Number of people")
            .attr("class", "y.axis");

        var rect = g.selectAll(".bar")
          .data(eval("dataCountryList"+dataIndex))
          .enter().append("rect")
          .attr("class", "bar");


        var attrX = rect.attr("x", function (d) {
              return x(d.value.isoCode)-barwidth/2;
            })

        var attrY = rect.attr("y", function (d) {
              return y(d.value.amount);
            });

        rect.attr("width", barwidth)
            .attr("height", function (d) {
              return height - y(d.value.amount)-(margin.top+margin.bottom);
            });

        rect.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(d.key + ": " +(d.value.amount));
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");});

        //Line
        // const line = d3.line()
        //   .x( d=> x(d.value.isoCode))
        //   .y( d=> y(d.value.amount));
        
        // // Path element
        // g.append("path")
        //   .attr("class", "line")
        //   .attr("d", line(dataCountryList))
        //   .style("stroke", "salmon")
        //   .style("fill", "none");
                   
      }
    </script>

    <div class="wrapper">
      <header>
        <h1><a href="">auto-link</a></h1>
        <p></p>
        <p class="view"><a href="https://github.com/pierreraimbaud/ColombiansAbroadViz">Project URL on GitHub <small>pierreraimbaud/ColombiansAbroadViz</small></a></p>
      </header>
      <section>MD zone</section>
      <footer>
        
        <p>This project is maintained by <a href="https://github.com/pierreraimbaud">pierreraimbaud</a></p>
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src=""></script>
    
  </body>
</html>