<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <style>
    .bar {
      fill: steelblue;
    }
    .bar:hover {
      fill: brown;
    }
    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }
    h3 {
      font-size : 24px;
      color:green;
      text-align: center;
    }
    .axis--x path {
      display: none;
    }
    </style>

    <div id = "svgcontainer">
          <h3>Colombians registered abroad</h3>
          <button>Switch data selection</button>
          <br/>
          <p>Dataset 1</p>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

      // Const margin data for viz
      const width = 900;
      const height = 500;
      const margin = {top: 40, right: 70, bottom: 50, left: 50};
      const iwidth = width - margin.left -margin.right;
      const iheight = height - margin.top - margin.bottom;

      // Const bar chart
      const barwidth = 26;

      // SVG and g elements
      var svg = d3.select("#svgcontainer")
          .append("svg")
          .attr("width", iwidth + margin.left + margin.right)
          .attr("height", iheight + margin.top + margin.bottom);
      var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //Tooltip var
      var tooltip = d3.select("body").append("div").attr("class", "toolTip");

      //Dataset current index
      var dataIndex=1;

      // Original ata var
      var dataOrigin;

      // Dataset 1
      var dataCountryList1;

      // Dataset 2
      var dataCountryList2;

      //Var for axis x and y
      var xdom; 
      var ydom; 
      var xaxis; 
      var yaxis; 

      // Load csv with promise
      d3.csv('https://raw.githubusercontent.com/pierreraimbaud/ColombiansAbroadViz/master/Colombianos_registrados_en_el_exterior.csv').then(function(data) {
          dataOrigin = data;
          //Create bar chart
          createBar();
      });
     
      //Create bar chart
      function createBar(){

        //button to swap over datasets
        d3.select("button").on("click",function(){
          updateBar();
        });//end click function

        //var colors = ["b33040", "#d25c4d"];

        //Data preparation (2 datasets)
        prepareDatasets();


        var x = d3.scaleBand()
          .rangeRound([0, iwidth])
          .paddingInner(1).paddingOuter(1);
          //.align(3);
           // X scale definition      
        xdom = x.domain((eval("dataCountryList"+dataIndex)).map(function(d) {
         return d.value.isoCode; }));

        // Y scale definition
        var maxxx = d3.max(eval("dataCountryList"+dataIndex), function(d) { 
            
            return +d.value.amount}
            );

        var y = d3.scaleLinear()
          .rangeRound([iheight, 0]);
        ydom = y.domain([0, maxxx]);
        
        // var xaxis = g.selectAll('g.xaxis')
        //   //.data(xdom)
        //   .enter();
        // var yaxis = g.selectAll('g.yaxis')
        //   //.data(ydom)
        //   .enter();

       // Axis x
        xaxis = g.append('g').attr('class', 'xaxis')
            .call(d3.axisBottom(x))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "x.axis");

        // Axis y  
        yaxis = g.append('g').attr('class', 'yaxis')
            .call(d3.axisLeft(y))
            .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("text-anchor", "end")
            .text("Number of people")
            .attr("class", "y.axis");

        var rect = g.selectAll(".bar")
          .data(eval("dataCountryList"+dataIndex))
          .enter().append("rect")
          .attr("class", "bar");


        var attrX = rect.attr("x", function (d) {
              return x(d.value.isoCode)-barwidth/2;
            })

        var attrY = rect.attr("y", function (d) {
              return y(d.value.amount);
            });

        rect.attr("width", barwidth)
            .attr("height", function (d) {
              return height - y(d.value.amount)-(margin.top+margin.bottom);
            });

        rect.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(d.key + ": " +(d.value.amount));
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");});                   
      }

      //Prepare datasets for bar chart
      function prepareDatasets(){

        //Nest data for getting it as (key=country, isoCode=ISO, amount=total of people, value=other data)
        var dataCountry = d3.nest()
          .key(function(d){
            return d.Country;
          })
          .rollup(function(d){
            return {
              amount : d3.sum(d, function(g){
                return g.Quantity;
            }),
            isoCode : d[0].ISOCode,
            detailByLine : d
            }
          })
          .entries(dataOrigin);

        //Nest data for getting it as (key=country, isoCode=ISO, people=total of people, amount=average age, value=other data)
        var dataCountryAge = d3.nest()
          .key(function(d){
            return d.key;
          })
          .rollup(function(d){
            return {
              people : d3.sum(d, function(g){
                return g.value.amount;
              }),
              amount : d3.sum(d, function(g){
                var kk =g.value.amount;
                return d3.sum(g.value.detailByLine, function(k){
                    return k.Age;})/kk;
              }),
              isoCode : d[0].value.isoCode,
              detailByLine : d[0].value.detailByLine
            }
          })
          .entries(dataCountry);
        
        //Filter data for getting only raws with more than 1000 persons
        dataCountryList1 = dataCountry.filter(function (d){
                                  return (d.value.amount/1000)>1;
                                });

        dataCountryList1.sort(function(x, y){
           return d3.descending(x.value.amount, y.value.amount);
        });

        console.log(dataCountryList1);

        //Filter data for getting only raws with more than 1000 persons
        dataCountryList2 =  dataCountryAge.filter(function (d){
                                  return (d.value.people/1000)>1;
                                });

        console.log(dataCountryList2);

        //TEST
        var genderDataList = d3.nest()
          .key(function(d){
            return d.Gender;
          })
          .entries(dataOrigin);
        console.log(genderDataList);
      }

      //Update datasets for bar chart
      function updateBar(){

          //select new data
          if (dataIndex==1) {
            dataIndex=2;  
          }
          else{
            dataIndex=1;
          }

          //Update x and y axis

          //1 - rejoin data
          xaxis = g.selectAll(".xaxis");
          
          xaxis.exit().remove();//remove unneeded axis

            var yaxis = g.selectAll(".yaxis");
          
          xaxis.exit().remove();//remove unneeded axis

          xaxis.enter().append("xaxis")
            .attr("class", "xaxis");

           yaxis.enter().append("yaxis")
            .attr("class", "yaxis");


           var x = d3.scaleBand()
            .rangeRound([0, iwidth])
            .paddingInner(1).paddingOuter(1);
            //.align(3);
             // X scale definition      
           xdom = x.domain((eval("dataCountryList"+dataIndex)).map(function(d) {
           return d.value.isoCode; }));

          // Y scale definition
          var maxxx = d3.max(eval("dataCountryList"+dataIndex), function(d) { 
              
              return +d.value.amount}
              );

          var y = d3.scaleLinear()
            .rangeRound([iheight, 0]);
          ydom = y.domain([0, maxxx]);

          //var yTickValues = yaxis.ticks();
          //d3.select(".yaxis").call(d3.axisLeft(y).tickValues(yTickValues));

        


          //var xaxis = g.selectAll('g.xaxis');
            //var yaxis = g.selectAll('g.yaxis');

                                  // Axis x
                 // xaxis.enter()
            xaxis =g.append('g')
              .attr('class', 'xaxis axis')
                      .call(d3.axisBottom(x))
                      .attr("transform", `translate(0,${iheight})`)
                      .attr("class", "x.axis");

                  // Axis y  
                  //yaxis.enter()
            yaxis =g.append('g')
              .attr('class', 'yaxis axis')
                      .call(d3.axisLeft(y))
                      .append("text")
                      .attr("fill", "#000")
                      .attr("transform", "rotate(-90)")
                      .attr("text-anchor", "end")
                      .text("Number of people")
                      .attr("class", "y.axis");



          //Update bar part(rect)

          //1 - rejoin data
          var rectss = g.selectAll(".bar")
              .data(eval("dataCountryList"+dataIndex));
          
          //2 - Remove bar (rect)
          rectss.exit().remove();//remove unneeded circles
         
          //3 - Update bar (rect)
          rectss.enter().append("rect")
            .attr("class", "bar");


          rectss.attr("x", function (d) {            
              return x(d.value.isoCode)-barwidth/2;
            })

          rectss.attr("y", function (d) {            
              return y(d.value.amount);
            });

          rectss.attr("width", barwidth)
            .attr("height", function (d) {
              return height - y(d.value.amount)-(margin.top+margin.bottom);
            });//create any new rects needed

          //Change text  
          d3.select("p").text("Dataset "+dataIndex);
      }
    </script>

    <div class="wrapper">
      <header>
        <h1><a href="">auto-link</a></h1>
        <p></p>
        <p class="view"><a href="https://github.com/pierreraimbaud/ColombiansAbroadViz">Project URL on GitHub <small>pierreraimbaud/ColombiansAbroadViz</small></a></p>
      </header>
      <section>MD zone</section>
      <footer>
        
        <p>This project is maintained by <a href="https://github.com/pierreraimbaud">pierreraimbaud</a></p>
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src=""></script>
    
  </body>
</html>